<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Testing</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hello Vue</h1>
    <div class="" id="app">

        <div class="" v-if="showBook">
            <p>Anime Title - {{title}}</p>
            <p>Studio - {{studio}}</p>
            <p>Genre - {{genre}}</p>
            <p>Age - {{age}}</p>
        </div>

        <button type="button" @click="showBook=!showBook">
            <span v-if="!showBook">Show</span>
            <span v-if="showBook">Hide</span>
        </button>
        <button type="button" v-on:click="age++">increase</button>

        <br>

        <div class="box" @mouseover="mouseOverHandler($event,'data')">Mouse Over</div>
        <div class="box" @mouseleave="mouseLeaveHandler">Mouse Leave</div>
        <div class="box" @dblclick="dblClickHandler">Double Click</div>
    </div>

    <div class="" id="app2">
        <h2>Student Enroll</h2>
        <div class="" v-if="enroll">
            <p>Name - {{ name }}</p>
            <p>Age - {{ age }}</p>
            <p>Job - {{ job }}</p>
        </div>
        <button type="button" @click="enroll=!enroll">
            <span v-if="enroll">hide Enroll</span>
            <span v-if="!enroll">show Enroll</span>
        </button>

    </div>
    <script src="app.js"></script>
    <script src="app2.js"></script>
</body>
</html>